AddDefaultCharset utf-8
AddType text/x-component .htc
Options +Includes +FollowSymLinks -Indexes
DirectoryIndex index.php

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]
RewriteRule ^api/(.[a-zA-Z0-9\.\-_]+)(/(.*))?$ /api.php?e=$1&params=$3 [QSA,L]
