<?php

use \Core\Config;

Config::setDb('default', [
	'host' => '127.0.0.1',
	'name' =>  'admin',
	'user' => 'root',
	'password' => '',
	'charset' => 'utf8'
]);

Config::setAvailableLanguages([
	'ru' => 'Русский',
	'en' => 'English'
]);

Config::registerProject('Admin', 'default');
Config::registerProject('App', 'default');
